@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Unbounded', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 0rem 0rem;
}

#show-input {
    margin: 2rem;
}

#show-input img {
    width: 5rem;
}

#show-input img:hover {
    width: 6rem;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    /* width: 5rem; */
    padding: 1rem 3rem;
    border-radius: 2rem;
}
input[type="text"]
{
    font-size:24px;
}

.todolist {
    /* display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 2rem;
    margin-top: 6rem; */
    /* max-width: 10rem; */
    /* overflow: hidden; */
}

.list-cards {
    padding: 3rem;
    box-shadow: 5px 5px 5px 2px rgba(168, 167, 167, 0.834);
    border-radius: 0.5rem;
    width: 30rem;
}




.hidden {
    display: none;
}
